<?xml version="1.0" ?>
<robot name="lift_for_urdf"
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find arx_l5pro_description)/model/xacro/materials.xacro"/>
    <xacro:include filename="$(find arx_l5pro_description)/model/xacro/L5Pro_base.xacro"/>

    <gazebo>
        <self_collide>true</self_collide>
    </gazebo>


    <link name="world"/>

    <link name="base_link"/>

    <xacro:arx_l5_pro_base prefix="arx"/>

    <joint name="arm_fixed" type="fixed">
        <parent link="base_link"/>
        <child link="arx_arm_base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 ${pi} 0"/>
    </joint>

    <!-- 与世界坐标固定-->
    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

</robot>